# Distribution / packaging
.Python
# env/
data/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
node_modules/

# Serverless directories
.serverless

# Mac
.DS_Store

# Python
poetry.lock
__pycache__/
